:root {
    --_size-size-00: 0;
    --_size-size-02: 2;
    --_size-size-04: 4;
    --_size-size-06: 6;
    --_size-size-08: 8;
    --_size-size-12: 12;
    --_size-size-14: 14;
    --_size-size-16: 16;
    --_size-size-20: 20;
    --_size-size-24: 24;
    --_size-size-28: 28;
    --_size-size-32: 32;
    --_size-size-36: 36;
    --_size-size-40: 40;
    --_size-size-44: 44;
    --_size-size-48: 48;
    --_size-size-52: 52;
    --_size-size-56: 56;
    --_size-size-60: 60;
    --_size-size-64: 64;
    --_size-size-68: 68;
    --_size-size-72: 72;
    --_size-size-76: 76;
    --_size-size-80: 80;
    --_size-size-84: 84;
    --_size-size-88: 88;
    --_size-size-92: 92;
    --_size-size-96: 96;
    --_size-size-100: 100;
    --_size-size-104: 104;
    --_size-size-112: 112;
    --_size-size-116: 116;
    --_size-size-120: 120;
    --_size-size-124: 124;
    --_size-size-128: 128;
    --_size-size-1000: 1000;
    --_colour-neutral-graycool-25: #FBFBFD;
    --_colour-neutral-graycoolalpha-5%: #B9BBC60C;
    --_colour-neutral-graycoolalpha-10%: #B9BBC619;
    --_colour-neutral-graycoolalpha-15%: #B9BBC626;
    --_colour-neutral-graycoolalpha-20%: #B9BBC633;
    --_colour-neutral-graycoolalpha-25%: #B9BBC63F;
    --_colour-neutral-graycoolalpha-30%: #B9BBC64C;
    --_colour-neutral-graycoolalpha-35%: #B9BBC659;
    --_colour-neutral-graycoolalpha-40%: #B9BBC666;
    --_colour-neutral-graycoolalpha-45%: #B9BBC672;
    --_colour-neutral-graycoolalpha-50%: #8B8D987F;
    --_colour-neutral-graycoolalpha-55%: #8B8D988C;
    --_colour-neutral-graycoolalpha-60%: #8B8D9899;
    --_colour-neutral-graycoolalpha-65%: #8B8D98A5;
    --_colour-neutral-graycoolalpha-70%: #8B8D98B2;
    --_colour-neutral-graycoolalpha-75%: #8B8D98BF;
    --_colour-neutral-graycoolalpha-80%: #8B8D98CC;
    --_colour-neutral-graycoolalpha-85%: #8B8D98D8;
    --_colour-neutral-graycoolalpha-90%: #8B8D98E5;
    --_colour-neutral-graycoolalpha-95%: #8B8D98F2;
    --_colour-neutral-graycoolalpha-100%: #8B8D98;
    --_colour-neutral-whitealpha-0: #FFFFFF00;
    --_colour-neutral-whitealpha-25: #FFFFFF02;
    --_colour-neutral-whitealpha-50: #FFFFFF0A;
    --_colour-neutral-whitealpha-100: #FFFFFF19;
    --_colour-neutral-whitealpha-200: #FFFFFF21;
    --_colour-neutral-whitealpha-300: #FFFFFF2B;
    --_colour-neutral-whitealpha-400: #FFFFFF38;
    --_colour-neutral-whitealpha-500: #FFFFFF4F;
    --_colour-neutral-whitealpha-600: #FFFFFF5E;
    --_colour-neutral-whitealpha-700: #FFFFFF75;
    --_colour-neutral-whitealpha-800: #FFFFFFA8;
    --_colour-neutral-whitealpha-900: #FFFFFFED;
    --_colour-neutral-whitealpha-1000: #FFFFFF;
    --_colour-chromatic-brown-25: #FDFCFB;
    --_colour-chromatic-bronze-25: #FDFCFC;
    --_colour-chromatic-bronze-50: #FCF7F5;
    --_colour-chromatic-bronze-100: #F7F0ED;
    --_colour-chromatic-bronze-200: #F1E7E3;
    --_colour-chromatic-bronze-300: #EADCD7;
    --_colour-chromatic-bronze-400: #E0CEC7;
    --_colour-chromatic-bronze-500: #D1B9B0;
    --_colour-chromatic-bronze-600: #BFA094;
    --_colour-chromatic-bronze-700: #A17F72;
    --_colour-chromatic-bronze-800: #947367;
    --_colour-chromatic-bronze-900: #7D5E53;
    --_colour-chromatic-bronze-1000: #422F2A;
    --_colour-chromatic-gold-25: #FCFCFB;
    --_colour-chromatic-gold-50: #FBF9F2;
    --_colour-chromatic-gold-100: #F5F2E8;
    --_colour-chromatic-gold-200: #EEE9DD;
    --_colour-chromatic-gold-300: #E5DFCF;
    --_colour-chromatic-gold-400: #DAD0BC;
    --_colour-chromatic-gold-500: #CBBDA3;
    --_colour-chromatic-gold-600: #B8A283;
    --_colour-chromatic-gold-700: #978364;
    --_colour-chromatic-gold-800: #89775B;
    --_colour-chromatic-gold-900: #71624B;
    --_colour-chromatic-gold-1000: #3B342A;
    --_colour-chromatic-sky-25: #F8FDFF;
    --_colour-chromatic-sky-50: #F1FCFF;
    --_colour-chromatic-sky-100: #E1F9FF;
    --_colour-chromatic-sky-200: #D2F4FD;
    --_colour-chromatic-sky-300: #BEEBF7;
    --_colour-chromatic-sky-400: #A5DBEC;
    --_colour-chromatic-sky-500: #82C9DF;
    --_colour-chromatic-sky-600: #46B8D8;
    --_colour-chromatic-sky-700: #7BE1FD;
    --_colour-chromatic-sky-800: #72DAF7;
    --_colour-chromatic-sky-900: #246E92;
    --_colour-chromatic-sky-1000: #193F4C;
    --_colour-chromatic-mint-25: #F9FEFD;
    --_colour-chromatic-mint-50: #EFFEFA;
    --_colour-chromatic-mint-100: #DCFBF3;
    --_colour-chromatic-mint-200: #CCF6EC;
    --_colour-chromatic-mint-300: #BAEEE1;
    --_colour-chromatic-mint-400: #A5E1D3;
    --_colour-chromatic-mint-500: #87CFBE;
    --_colour-chromatic-mint-600: #50BCA7;
    --_colour-chromatic-mint-700: #85E9D3;
    --_colour-chromatic-mint-800: #7EE0CB;
    --_colour-chromatic-mint-900: #26746A;
    --_colour-chromatic-mint-1000: #16423C;
    --_colour-chromatic-lime-25: #FBFDFA;
    --_colour-chromatic-lime-50: #F7FCF0;
    --_colour-chromatic-lime-100: #ECFAD9;
    --_colour-chromatic-lime-200: #E1F5C4;
    --_colour-chromatic-lime-300: #D5ECAF;
    --_colour-chromatic-lime-400: #C6DE98;
    --_colour-chromatic-lime-500: #B2C97E;
    --_colour-chromatic-lime-600: #9AB654;
    --_colour-chromatic-lime-700: #BDED62;
    --_colour-chromatic-lime-800: #AFE54C;
    --_colour-chromatic-lime-900: #58672C;
    --_colour-chromatic-lime-1000: #37401B;
    --_colour-chromatic-yellow-25: #FDFDF9;
    --_colour-chromatic-yellow-50: #FFFADF;
    --_colour-chromatic-yellow-100: #FFF8C6;
    --_colour-chromatic-yellow-200: #FCF3AF;
    --_colour-chromatic-yellow-300: #F6EA9A;
    --_colour-chromatic-yellow-400: #EBDC85;
    --_colour-chromatic-yellow-500: #DAC46D;
    --_colour-chromatic-yellow-600: #C8AA44;
    --_colour-chromatic-yellow-700: #FAE22D;
    --_colour-chromatic-yellow-800: #F8D910;
    --_colour-chromatic-yellow-900: #765E27;
    --_colour-chromatic-yellow-1000: #473B1E;
    --_colour-chromatic-violet-25: #FCFCFE;
    --_colour-chromatic-violet-50: #FAF9FF;
    --_colour-chromatic-violet-100: #F4F1FE;
    --_colour-chromatic-violet-200: #EDE9FE;
    --_colour-chromatic-violet-300: #E4DDFC;
    --_colour-chromatic-violet-400: #D7CEF8;
    --_colour-chromatic-violet-500: #C3B7F2;
    --_colour-chromatic-violet-600: #A999EC;
    --_colour-chromatic-violet-700: #6E55CF;
    --_colour-chromatic-violet-800: #644FC1;
    --_colour-chromatic-violet-900: #5745AF;
    --_colour-chromatic-violet-1000: #2F255E;
    --_colour-chromatic-iris-25: #FCFCFE;
    --_colour-chromatic-iris-50: #F9F9FF;
    --_colour-chromatic-iris-100: #F3F3FE;
    --_colour-chromatic-iris-200: #EAEAFE;
    --_colour-chromatic-iris-300: #DFDFFC;
    --_colour-chromatic-iris-400: #D0D0F9;
    --_colour-chromatic-iris-500: #BABBF5;
    --_colour-chromatic-iris-600: #9B9EF0;
    --_colour-chromatic-iris-700: #5A5AD5;
    --_colour-chromatic-iris-800: #5353CE;
    --_colour-chromatic-iris-900: #4747C1;
    --_colour-chromatic-iris-1000: #262861;
    --_colour-chromatic-seed-25: #FCFDFE;
    --_colour-chromatic-seed-50: #F7F9FF;
    --_colour-chromatic-seed-100: #F0F4FE;
    --_colour-chromatic-seed-200: #E6EDFE;
    --_colour-chromatic-seed-300: #D8E2FC;
    --_colour-chromatic-seed-400: #C6D3F9;
    --_colour-chromatic-seed-500: #AEBFF4;
    --_colour-chromatic-seed-600: #8CA3EF;
    --_colour-chromatic-seed-700: #3E63DC;
    --_colour-chromatic-seed-800: #3A5CCB;
    --_colour-chromatic-seed-900: #3351B1;
    --_colour-chromatic-seed-1000: #1E2C5B;
    --_colour-chromatic-blue-25: #FAFDFF;
    --_colour-chromatic-blue-50: #F4F9FF;
    --_colour-chromatic-blue-100: #EDF6FF;
    --_colour-chromatic-blue-200: #E0EFFE;
    --_colour-chromatic-blue-300: #CDE6FD;
    --_colour-chromatic-blue-400: #B7D8F7;
    --_colour-chromatic-blue-500: #96C7F1;
    --_colour-chromatic-blue-600: #5EB0EE;
    --_colour-chromatic-blue-700: #0090FF;
    --_colour-chromatic-blue-800: #0780E9;
    --_colour-chromatic-blue-900: #0A67CB;
    --_colour-chromatic-blue-1000: #113264;
    --_colour-chromatic-cyan-25: #F9FDFD;
    --_colour-chromatic-cyan-50: #F2FCFD;
    --_colour-chromatic-cyan-100: #E6F8FA;
    --_colour-chromatic-cyan-200: #D7F3F6;
    --_colour-chromatic-cyan-300: #C4EAEF;
    --_colour-chromatic-cyan-400: #A9DDE5;
    --_colour-chromatic-cyan-500: #84CDDA;
    --_colour-chromatic-cyan-600: #3CB9CE;
    --_colour-chromatic-cyan-700: #04A2C1;
    --_colour-chromatic-cyan-800: #0894B3;
    --_colour-chromatic-cyan-900: #0B7792;
    --_colour-chromatic-cyan-1000: #0C3B47;
    --_colour-chromatic-teal-25: #FAFDFC;
    --_colour-chromatic-teal-50: #F1FCFA;
    --_colour-chromatic-teal-100: #E6F8F5;
    --_colour-chromatic-teal-200: #D8F3EE;
    --_colour-chromatic-teal-300: #C6EAE4;
    --_colour-chromatic-teal-400: #AEDED6;
    --_colour-chromatic-teal-500: #8DCEC3;
    --_colour-chromatic-teal-600: #52B8AB;
    --_colour-chromatic-teal-700: #12A594;
    --_colour-chromatic-teal-800: #0D9787;
    --_colour-chromatic-teal-900: #067A6E;
    --_colour-chromatic-teal-1000: #0C3D38;
    --_colour-chromatic-amber-25: #FEFCFA;
    --_colour-chromatic-amber-50: #FFF9ED;
    --_colour-chromatic-amber-100: #FFF3D0;
    --_colour-chromatic-amber-200: #FFEBB6;
    --_colour-chromatic-amber-300: #FFDFA0;
    --_colour-chromatic-amber-400: #F4D08B;
    --_colour-chromatic-amber-500: #E4BA77;
    --_colour-chromatic-amber-600: #D5A35C;
    --_colour-chromatic-amber-700: #FFC43D;
    --_colour-chromatic-amber-800: #FFBA19;
    --_colour-chromatic-amber-900: #915830;
    --_colour-chromatic-amber-1000: #4E3421;
    --_colour-chromatic-orange-25: #FEFCFA;
    --_colour-chromatic-orange-50: #FFF7F3;
    --_colour-chromatic-orange-100: #FFF1E0;
    --_colour-chromatic-orange-200: #FFE0BA;
    --_colour-chromatic-orange-300: #FFD3A4;
    --_colour-chromatic-orange-400: #FFC290;
    --_colour-chromatic-orange-500: #FFAA7C;
    --_colour-chromatic-orange-600: #EC895B;
    --_colour-chromatic-orange-700: #F76707;
    --_colour-chromatic-orange-800: #ED5E00;
    --_colour-chromatic-orange-900: #99533A;
    --_colour-chromatic-orange-1000: #572C1D;
    --_colour-chromatic-tomato-25: #FFFCFB;
    --_colour-chromatic-tomato-50: #FFF7F6;
    --_colour-chromatic-tomato-100: #FFEFED;
    --_colour-chromatic-tomato-200: #FFE5E1;
    --_colour-chromatic-tomato-300: #FDD8D2;
    --_colour-chromatic-tomato-400: #F9C7BE;
    --_colour-chromatic-tomato-500: #F3AFA2;
    --_colour-chromatic-tomato-600: #E99180;
    --_colour-chromatic-tomato-700: #E54C2E;
    --_colour-chromatic-tomato-800: #D74224;
    --_colour-chromatic-tomato-900: #C23013;
    --_colour-chromatic-tomato-1000: #5B261E;
    --_colour-chromatic-red-25: #FFFBFB;
    --_colour-chromatic-red-50: #FFF6F6;
    --_colour-chromatic-red-100: #FFEEEE;
    --_colour-chromatic-red-200: #FEE4E4;
    --_colour-chromatic-red-300: #FCD7D7;
    --_colour-chromatic-red-400: #F9C6C6;
    --_colour-chromatic-red-500: #F2ADAE;
    --_colour-chromatic-red-600: #EB8F91;
    --_colour-chromatic-red-700: #E4484D;
    --_colour-chromatic-red-800: #D93D42;
    --_colour-chromatic-red-900: #C5292F;
    --_colour-chromatic-red-1000: #631623;
    --_colour-chromatic-ruby-25: #FFFCFC;
    --_colour-chromatic-ruby-50: #FFF6F8;
    --_colour-chromatic-ruby-100: #FEEFF2;
    --_colour-chromatic-ruby-200: #FCE4EA;
    --_colour-chromatic-ruby-300: #F9D8E0;
    --_colour-chromatic-ruby-400: #F4C7D1;
    --_colour-chromatic-ruby-500: #EDAEBB;
    --_colour-chromatic-ruby-600: #E491A2;
    --_colour-chromatic-ruby-700: #E44565;
    --_colour-chromatic-ruby-800: #DA395C;
    --_colour-chromatic-ruby-900: #C9234D;
    --_colour-chromatic-ruby-1000: #63162B;
    --_colour-chromatic-crimson-25: #FFFBFD;
    --_colour-chromatic-crimson-50: #FFF6FA;
    --_colour-chromatic-crimson-100: #FDEEF6;
    --_colour-chromatic-crimson-200: #FBE4EF;
    --_colour-chromatic-crimson-300: #F8D7E7;
    --_colour-chromatic-crimson-400: #F3C6DA;
    --_colour-chromatic-crimson-500: #ECADC7;
    --_colour-chromatic-crimson-600: #E48EB1;
    --_colour-chromatic-crimson-700: #E93D82;
    --_colour-chromatic-crimson-800: #DC3075;
    --_colour-chromatic-crimson-900: #CB1D62;
    --_colour-chromatic-crimson-1000: #611639;
    --_colour-chromatic-pink-25: #FFFBFD;
    --_colour-chromatic-pink-50: #FFF6FB;
    --_colour-chromatic-pink-100: #FDEEF7;
    --_colour-chromatic-pink-200: #FBE4F2;
    --_colour-chromatic-pink-300: #F8D7EC;
    --_colour-chromatic-pink-400: #F3C6E2;
    --_colour-chromatic-pink-500: #EBACD3;
    --_colour-chromatic-pink-600: #E38EC2;
    --_colour-chromatic-pink-700: #D63F9F;
    --_colour-chromatic-pink-800: #CC3093;
    --_colour-chromatic-pink-900: #C41C86;
    --_colour-chromatic-pink-1000: #641148;
    --_colour-chromatic-plum-25: #FEFCFE;
    --_colour-chromatic-plum-50: #FFF7FF;
    --_colour-chromatic-plum-100: #FCEFFC;
    --_colour-chromatic-plum-200: #F8E5F8;
    --_colour-chromatic-plum-300: #F3D9F4;
    --_colour-chromatic-plum-400: #EAC8ED;
    --_colour-chromatic-plum-500: #DEAFE3;
    --_colour-chromatic-plum-600: #CE91D8;
    --_colour-chromatic-plum-700: #C945ED;
    --_colour-chromatic-plum-800: #BC35DF;
    --_colour-chromatic-plum-900: #9D1FBD;
    --_colour-chromatic-plum-1000: #52195C;
    --_colour-chromatic-purple-25: #FDFCFE;
    --_colour-chromatic-purple-50: #FCF9FF;
    --_colour-chromatic-purple-100: #F8F0FD;
    --_colour-chromatic-purple-200: #F3E7FB;
    --_colour-chromatic-purple-300: #ECDBF8;
    --_colour-chromatic-purple-400: #E2CBF4;
    --_colour-chromatic-purple-500: #D3B3EC;
    --_colour-chromatic-purple-600: #BE92E3;
    --_colour-chromatic-purple-700: #8D4DC5;
    --_colour-chromatic-purple-800: #8444BB;
    --_colour-chromatic-purple-900: #783AAF;
    --_colour-chromatic-purple-1000: #3F1F5F;
    --_colour-chromatic-jade-25: #FAFDFC;
    --_colour-chromatic-jade-50: #EFFDF6;
    --_colour-chromatic-jade-100: #E4F9EF;
    --_colour-chromatic-jade-200: #D7F3E6;
    --_colour-chromatic-jade-300: #C5EBDB;
    --_colour-chromatic-jade-400: #AFDFCC;
    --_colour-chromatic-jade-500: #8FCFB8;
    --_colour-chromatic-jade-600: #55B99F;
    --_colour-chromatic-jade-700: #28A382;
    --_colour-chromatic-jade-800: #249678;
    --_colour-chromatic-jade-900: #19795E;
    --_colour-chromatic-jade-1000: #1C3A30;
    --_colour-chromatic-green-25: #FAFDFB;
    --_colour-chromatic-green-50: #F2FCF5;
    --_colour-chromatic-green-100: #E9F8EE;
    --_colour-chromatic-green-200: #DCF3E4;
    --_colour-chromatic-green-300: #CBEAD6;
    --_colour-chromatic-green-400: #B3DFC4;
    --_colour-chromatic-green-500: #91CEAB;
    --_colour-chromatic-green-600: #5AB98B;
    --_colour-chromatic-green-700: #2FA46B;
    --_colour-chromatic-green-800: #289763;
    --_colour-chromatic-green-900: #17794D;
    --_colour-chromatic-green-1000: #193A2C;
    --_colour-chromatic-grass-25: #FAFDFA;
    --_colour-chromatic-grass-50: #F3FCF3;
    --_colour-chromatic-grass-100: #EAF8EA;
    --_colour-chromatic-grass-200: #DEF3DF;
    --_colour-chromatic-grass-300: #CDEBCE;
    --_colour-chromatic-grass-400: #B7DFB9;
    --_colour-chromatic-grass-500: #96CF9C;
    --_colour-chromatic-grass-600: #65BA74;
    --_colour-chromatic-grass-700: #45A757;
    --_colour-chromatic-grass-800: #3D994F;
    --_colour-chromatic-grass-900: #297C3B;
    --_colour-chromatic-grass-1000: #203B25;
    --_colour-chromatic-brown-50: #FBF8F5;
    --_colour-chromatic-brown-100: #F8F1EA;
    --_colour-chromatic-brown-200: #F4E8DC;
    --_colour-chromatic-brown-300: #EFDCCB;
    --_colour-chromatic-brown-400: #E7CDB4;
    --_colour-chromatic-brown-500: #DDB895;
    --_colour-chromatic-brown-600: #CF9D71;
    --_colour-chromatic-brown-700: #AC7F57;
    --_colour-chromatic-brown-800: #9D7251;
    --_colour-chromatic-brown-900: #815E45;
    --_colour-chromatic-brown-1000: #3D322D;
    --_colour-neutral-graycool-50: #F8F8FA;
    --_colour-neutral-graycool-100: #F1F1F4;
    --_colour-neutral-graycool-200: #EAEAEF;
    --_colour-neutral-graycool-300: #E4E4E9;
    --_colour-neutral-graycool-400: #DCDDE3;
    --_colour-neutral-graycool-500: #D3D3DB;
    --_colour-neutral-graycool-600: #B9BAC5;
    --_colour-neutral-graycool-700: #8A8C97;
    --_colour-neutral-graycool-800: #7D808A;
    --_colour-neutral-graycool-900: #5F636C;
    --_colour-neutral-graycool-1000: #1C1F23;
    --_colour-neutral-blackalpha-0: #00000002;
    --_colour-neutral-blackalpha-25: #00000005;
    --_colour-neutral-blackalpha-50: #0000000C;
    --_colour-neutral-blackalpha-100: #00000014;
    --_colour-neutral-blackalpha-200: #0000001C;
    --_colour-neutral-blackalpha-300: #00000021;
    --_colour-neutral-blackalpha-400: #0000002B;
    --_colour-neutral-blackalpha-500: #00000044;
    --_colour-neutral-blackalpha-600: #0000006D;
    --_colour-neutral-blackalpha-700: #0000007F;
    --_colour-neutral-blackalpha-800: #0000009B;
    --_colour-neutral-blackalpha-900: #000000E0;
    --_colour-neutral-blackalpha-1000: #000000;
}